.footer{
    padding:20px 270px;
    border-top: 1px solid #eef2f2;
    margin-right: 10px;
}
.footer a{
    text-decoration: none;
    color: #3d83df;
}
.footer p{
    color: #ababab;
    font-size: 12px;
    font-weight: 450;
    text-align: center;
    width:900px;
    height: 20px;
    margin:20px;
    line-height: 1.3;
   flex-wrap: wrap;
   
}
/* .listLink{
   width:400px;
   border: solid;
} */